body {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: auto;
  width: 60%;
  box-sizing: border-box;
}

.container {
  border-bottom: solid black 2px;
  padding: 10px;
}

span {
  font-size: larger;
}

.ben {
  margin-bottom: 300px;
}
.bentext {
  width: 40%;
  display: block;
  display: inline-block;
}

.ben img {
  width: 300px;
  height: auto;
  float: right;
  border-radius: 3px;
}

ul {
  list-style-type: none;
}

.background .container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: transparent;
}

.hobbies {
  padding-bottom: 10px;
}