body {
  font-family: Arial, Helvetica, sans-serif;
}

span {
  font-size: larger;
}

.background {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.ben {
  margin-bottom: 300px;
}
.bentext{
  width: 40%;
  display: block;
  display: inline-block;
}

.ben img {
  width: 300px;
  height: auto;
  float: right;
}

ul {
  list-style-type: none;
}